# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/glfw-3.4/
/lib/
/VSProject/OpenGL_Project/.vs/
/VSProject/OpenGL_Project/x64/
/VSProject/OpenGL_Project/OpenGL_Project/x64/
